<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    
    <header>

      <div class="header-title">Todolist</div>

      <nav>
        <ul class="header-nav">
          <li class="header-menu"><a href="/">Home</a></li>
          <li class="header-menu"><a href="/write">Write</a></li>
          <li class="header-menu"><a href="/list">list</a></li>
        </ul>
      </nav>

    </header>


  </body>
</html>
